POSTGRES_USER="tolbazy"
POSTGRES_PASSWORD="CHANGE_ME_LONG_RANDOM_PASSWORD"
POSTGRES_DB="tolbazy_drive"

TELEGRAM_BOT_TOKEN="PASTE_BOTFATHER_TOKEN_HERE"

ADMIN_BASE_URL="http://SERVER_IP:3000"
NEXT_PUBLIC_API_URL="http://SERVER_IP:4000"
